# General
python-dotenv
setuptools
toml

# Testing
pytest
pytest-cov
pytest-asyncio

# FastAPI
fastapi
uvicorn
pydantic

# Streamlit
streamlit
streamlit-folium

# HTTP
requests
aiohttp

# Database
sqlalchemy
psycopg2-binary
supabase

# Data manipulation
numpy
pandas

# Machine Learning
keras
scikit-learn
joblib

# Data Visualization
folium
matplotlib
plotly