# General
python-dotenv
setuptools
toml

# Testing
pytest
pytest-cov

# FastAPI
fastapi
uvicorn
pydantic

# Streamlit
streamlit
streamlit-folium

# HTTP
requests
aiohttp

# Database
sqlalchemy
psycopg2-binary

# Data manipulation
numpy
pandas

# Data Visualization
folium
matplotlib
plotly
supabase
psycopg2
scikit-learn